{% extends 'base.html' %}

{% block content %}
    <table class="table text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.number_in_stock }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}